<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
        <title>
            The Annual Chip In - Bets - <%= standard_return.user %>
        </title>
        <link rel='stylesheet' href='/stylesheets/sam.css' />
        <link rel='stylesheet' href='/stylesheets/palette.css' />
</head>

<body>
    <% include menu_partial.ejs %>
    <div class='column full_height bc-grey'>
        <div class='column has-text-centered'>
            <h1 class='title chip_heading-large'>Bets</h1>
            <br>
            <h1 class='title chip_heading-small'>Want to place a bet?</h1>
        </div>
        <br>
        <div class='column bc-light_grey'>
            <p class='has-text-centered' style='line-height:32px;'>
            <%= standard_return.user %> bets <select class='form-betting_form-inline_text' id='js-betting_form-better_2'>            
            <% if (golfers) { %>
                <% for (row_1=0;row_1<golfers.length;row_1++) { %>
                    <option value="<%= golfers[row_1].username %>"><%= golfers[row_1].username %></option>
                <% } %>
            <% } %></select> a sum of $<input type="number" min="1" step="any" class='form-betting_form-inline_text' id='js-betting_form-amount' value='20'/> that <span contenteditable="true" class='form-betting_form-inline_text' id='js-betting_form-comment'><%= standard_return.user %> can't stand on his head for 5 seconds</span>.
            </p>
            <br>
            <p class='has-text-centered'>
            Who do you want to be the judge?<select class='form-betting_form-inline_text' id='js-betting_form-judge'>
            <% if (golfers) { %>
                <% for (row_1=golfers.length-1;row_1>=0;row_1--) { %>
                    <option value="<%= golfers[row_1].username %>"><%= golfers[row_1].username %></option>
                <% } %>
            <% } %></select>
            </p>
            <br>
            <div class='notification bc-danger_pink has-text-centered toggle-display_none' id='js-betting_form-error'></div>
            <div class='notification bc-info_blue has-text-centered toggle-display_none' id='js-betting_form-success'>Bet successfully uploaded</div>
            <div class='column has-text-centered'>
                <button class="button bc-yellow" disabled='true' id='js-betting_form-submit' style="display: inline-block">
                    Submit Bet
                </button>
            </div>
        </div>
        <br>
        <br>
        <div class='bc-light_yellow' id='js-previous_stats_output'>
            <div class='column has-text-centered'>
                <div class="betting_form-submit_loading"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></div>
            </div>
        </div>
        <br>
        <br>
        <div class='notification bc-danger_pink has-text-centered toggle-display_none' id='js-update_bets-error'></div>
        <div class='bc-light_grey' id='js-previous_bets_output'>
        </div>
    </div>
</body>
<script>
bet_placeholder="<%= standard_return.user %> can't stand on his head for 5 seconds"
function collect_bets() {
   $.ajax({
        method: "POST",
        url: "/previous_bets"
    })
    .done(function(data) {
        $('#js-previous_stats_output').html(`
            <br>
            <div class='columns'>
                <div class='column is-half bet_stats'>
                    <p class='has-text-centered chip_heading-small'>
                        Your Winnings To Date
                    </p>
                    <div class='has-text-centered'>
                        $${data.stats.your_winnings}
                    </div>
                </div>
                <div class='column is-half bet_stats'>
                    <p class='has-text-centered chip_heading-small'>
                        Your Current Exposure
                    </p>
                    <div class='has-text-centered'>
                        $${data.stats.your_exposure}
                    </div>
                </div>
            </div>
            <div class='columns'>
                <div class='column is-half bet_stats'>
                    <p class='has-text-centered chip_heading-small'>
                        Total Bets Won To Date
                    </p>
                    <div class='has-text-centered'>
                        $${data.stats.all_won}
                    </div>
                </div>
                <div class='column is-half bet_stats'>
                    <p class='has-text-centered chip_heading-small'>
                        Total Current Exposure
                    </p>
                    <div class='has-text-centered'>
                        $${data.stats.all_exposed}
                    </div>
                </div>
            </div>`)
        // NEED TO ACTION
        // PAST BETS
        $('#js-previous_bets_output').html(`
            <div class='column'>
                <p class='chip_heading-small'>
                    Bets Still To Be Accepted
                </p>
                ${data.bets.to_be_accepted}
            </div>
            <div class='column'>
                <p class='chip_heading-small'>
                    Open Bets
                </p>
                ${data.bets.open_bets}
            </div>
            <div class='column'>
                <p class='chip_heading-small'>
                    Closed Bets
                </p>
                ${data.bets.closed_bets}
            </div>`)
    })

}
collect_bets()
</script>
<script src="/javascripts/sam.js"></script>

</html>
