<!DOCTYPE html>
<html>
<head>
	<% include head.ejs %>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/tom.css'/>
	<link rel='stylesheet' href='/stylesheets/sam.css' />
	<link rel="stylesheet" href="/stylesheets/extras/flickity.css" media="screen">
	<script type="text/javascript" src="/javascripts/tom_frontend.js"></script>
</head>

<body>

	<!-- Include Header -->

	<% include menu_partial.ejs %>

	<br>
	<h1 class="main_theme-subtitle"> Day  <%= day %> : Hole <%= hole %>  </h1>
	<br>



	<!-- #FFE680 YELLOW-->
	<!-- #D0F0C0 GREEN -->
	<div class="hole-details is-fullwidth" style="background-color:#CCDCB0">

		<div class="columns is-mobile">

			<div class="column is-4">
				<img class="image is-32x32" src="/img/holes/distance.png">
				<span > Distance </span>
			</div>

			<div class="column is-8 center-div">
				<span class = "hole-stat"> <%= distance %>m </span>
			</div>


		</div>
	</div>

	<!-- #9dc183 GREEN--> 
	<!-- #cdcbb2 YELLOW -->
	<div class="hole-details is-fullwidth" style="background-color:#AACD92">

		<div class="columns is-mobile">

			<div class="column is-4">
				<img class="image is-32x32" src="/img/holes/par.png">
				<span class="is-white"> Par </span>
			</div>

			<div class="column is-8 center-div">
				<span class = "hole-stat"> <%= par %> </span>
			</div>


		</div>
	</div>

	<!-- #4CBB17 GREEN -->
	<!-- F9BC06 YELLOW -->
	<div class="hole-details is-fullwidth" style="background-color:#81BD74">

		<div class="columns is-mobile">

			<div class="column is-4">
				<img class="image is-32x32" src="/img/holes/top-score.png">
				<span class="is-white"> Top Score </span>
			</div>

			<div class="column is-8 center-div">
				<span class = "hole-stat"> <%= top_scorer %> </span>
			</div>

		</div>
	</div>

	<!-- FFE680 YELLOW -->
	<!-- #2E8B57 GREEN -->
	<div class="hole-details is-fullwidth" style="background-color:#58AC5C">

		<div class="columns is-mobile">

			<div class="column is-4">
				<img class="image is-32x32" src="/img/holes/idea.png">
				<span class="is-white"> Tip </span>
			</div>

			<div class="column is-8 center-div">
				<span class = "pro-tip"> <%= pro_tip %> </span>
			</div>


		</div>
	</div>

	<!-- 498D5B GREEN -->
	<!-- f5f5f0 Grey -->
	<div class="hole-details is-fullwidth" style="background-color:#498D5B">

		<div class="columns is-mobile">

			<div class="column is-4">

				<img class="image img-circle" src="/img/profile_pictures/tom.jpg">
			</div>

			<div class="column is-8 center-div">
				<div class="score-input">				
					<input></input>
					<button id="log" type="submit" class="button background_color-yellow"> Log </button>

				</div>
			</div>


		</div>
	</div>

	<br>
	<h1 class="main_theme-subtitle"> Who's Played </h1>
	<div class="leader-board container is-fluid is-fullwidth">
		<%- scores %>
	</div>
	<br>


	<script src="/javascripts/extras/flickity.pkgd.min.js"></script>

</body>

</html>