<!DOCTYPE html>
<html>
<head>
	<% include head.ejs %>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/tom.css'/>
	<link rel='stylesheet' href='/stylesheets/sam.css' />
	<link rel="stylesheet" href="/stylesheets/extras/flickity.css" media="screen">
	<script type="text/javascript" src="/javascripts/tom_frontend.js"></script>
</head>

<body>

	<!-- Include Header -->

	<% include menu_partial.ejs %>

	<h1 class="main_theme-subtitle"> Day  <%= day %> > Hole <%= hole %>  </h1>

<!-- 
		<nav class="breadcrumb is-large">
			<ul>
				<li><a href="/scorecard">Day <%= day %> </a></li>
				<li class="is-active"><a>Hole <%= hole %> </a></li>
			</ul>
		</nav>
 -->


		<div class="hole-details is-fullwidth" style="background-color:#ffedcc">

			<div class="columns is-mobile">

				<div class="column is-4">
					<img class="image is-32x32" src="/img/holes/distance.png">
					<span > Distance </span>
				</div>

				<div class="column is-8 center-div">
					<span class = "hole-stat"> 445m </span>
				</div>


			</div>
		</div>

		<div class="hole-details is-fullwidth" style="background-color:#cdcbb2">

			<div class="columns is-mobile">

				<div class="column is-4">
					<img class="image is-32x32" src="/img/holes/par.png">
					<span class="is-white"> Par </span>
				</div>

				<div class="column is-8 center-div">
					<span class = "hole-stat"> 4 </span>
				</div>


			</div>
		</div>


		<div class="hole-details is-fullwidth" style="background-color:#ffcf79">

			<div class="columns is-mobile">

				<div class="column is-4">
					<img class="image is-32x32" src="/img/holes/top-score.png">
					<span class="is-white"> Top Score </span>
				</div>

				<div class="column is-8 center-div">
					<span class = "hole-stat"> T Bish </span>
				</div>


			</div>
		</div>


		<div class="hole-details is-fullwidth" style="background-color:#f5f5f0">

			<div class="columns is-mobile">

				<div class="column is-4">

					<img class="image img-circle" src="/img/profile_pictures/tom.jpg">
				</div>

				<div class="column is-8 center-div">
					<div class="score-input">
<!-- 					<button class="score-input"> Test </button>
 -->  					
 						<input></input>
 						<button id="log" type="submit" class="button background_color-yellow"> Log </button>

				</div>
				</div>


			</div>
		</div>

	<br>
	<h1 class="main_theme-subtitle"> Who's Played </h1>
	<div class="leader-board container is-fluid is-fullwidth">
		<%- scores %>
	</div>
	<br>


	<script src="/javascripts/extras/flickity.pkgd.min.js"></script>

</body>

</html>