<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
    <title>
        Photos - The Annual Chip In
    </title>
    <link rel='stylesheet' href='/stylesheets/sam.css' />
    <link rel='stylesheet' href='/stylesheets/palette.css' />
</head>

<body>
    <% include menu_partial.ejs %>
        <div class='column full_height bc-light_grey'>
            <div class='column has-text-centered'>
                <h1 class='title chip_heading-large'>Photos</h1>
                <br>
                <label for="js-photo_upload_input" id='js-photo_uploader-album' class='button bc-info_blue'>Want to add a photo?&nbsp;&nbsp;<i class="fa fa-cloud-upload"></i></label>
            </div>
            <div class='column has-text-centered hidden_to_begin is-one-third-desktop is-offset-one-third-desktop' id='js-hidden_to_begin'>
                <div class="card-content">
                    <form method="POST" name='photo_upload_form' action='photo_album_upload' enctype="multipart/form-data" id='js-photo_upload-form'>
                        <div class='level is-mobile'>
                            <div class='level-left' id='js-photo_upload-input_holder'>
                                <input type='file' class='level-left hide_input' name='photo_file' id='js-photo_upload_input'>
                            </div>
                            <span class="level-right">
                            <div class='level border-radius-3 bc-yellow' id='js-photo_upload_close'> 
                                <i class="level-item fa fa-times font-small"></i>
                            </div>
                        </span>
                        </div>
                        <div id="js-photo_upload_output" class='column is-fullwidth has-text-centered '></div>
                        <p class="control has-icon">
                            <input class="input" type="text" id='js-photo_upload-name' name='photo_title' placeholder="Photo Title">
                            <span class="icon is-small is-left">
                        <i class="fa fa-comments"></i>
                    </span>
                        </p>
                        <p class="control">
                            <button disabled type='button' id='js-photo_upload-submit' class="button bc-yellow is-fullwidth" style="display: inline-block">
                                <div id='js-photo_upload-button-contents'>
                                    Upload
                                </div>
                            </button>
                        </p>
                    </form>
                </div>
            </div>
            <br>
            <div class='column has-text-centered is-one-third-desktop is-offset-one-third-desktop' id='js-photo_upload_delete_warning'>
                <%if (locals.warning) { %>
                    <div class='notification bc-danger_pink has-text-centered' id='js-photo_upload_warning'>
                        <%= warning %>
                    </div>
                    <% } %>
            </div>
            <%if (locals.image_array) { %>
                <div class="columns is-fullwidth is-multiline" id='js-photo_upload_album'>
                    <%for (row_1=0;row_1<locals.image_array.length;row_1++) { %>
                        <div class='column is-3' id='js-photo_upload_imge_container-<%= locals.image_array[row_1].photo_title %>'>
                            <div class='column'>
                                <h3 class='title'><%= locals.image_array[row_1].short_title %></h3>
                                <h3 class='subtitle'>Uploaded by <%= locals.image_array[row_1].uploaded_user %></h3>
                                <%if (locals.is_admin) { %>
                                    <span class="tag bc-danger_pink on_hover_pointer" id='js-photo_upload_delete-<%= locals.image_array[row_1].photo_title %>'>
                            Admin Rights! Delete?&nbsp;&nbsp;
                            <div><i class="fa fa-trash fa-inverse font-small"></i></div>
                        </span>
                                    <br>
                                    <% } else if (locals.image_array[row_1].your_photo) { %>
                                        <span class="tag bc-danger_pink on_hover_pointer" id='js-photo_upload_delete-<%= locals.image_array[row_1].photo_title %>'>
                            Your Photo! Delete?&nbsp;&nbsp;
                            <div><i class="fa fa-trash fa-inverse font-small"></i></div>
                        </span>
                                        <br>
                                        <% } else { %>
                                            <br>
                                            <% } %>
                            </div>
                            <div class='column'>
                                <div class='photo_album-image_wrapper'>
                                    <img src='/img/photo_album/<%= locals.image_array[row_1].photo_title %>' class='photo_album-image' />
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <% } %>
        </div>
        </div>
</body>
</body>
<script src="/javascripts/sam.js"></script>
</html>
