<!DOCTYPE html>
<html>
<head>
  <% include head.ejs %>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/tom.css'/>
  <script type="text/javascript" src="/javascripts/tom.js"></script>
</head>

<body>

    <h1 class='title has-text-centered is-large main_theme-title'><%= title %></h1>

    <div class="tabs is-toggle is-fullwidth">
      <ul>
        <li class="is-active">
          <a>
            <span class="icon is-small"><i class="fa fa-ellipsis-v"></i></span>
            <span>Day 1</span>
          </a>
        </li>
        <li>
          <a>
            <span class="icon is-small"><i class="fa fa-hand-peace-o"></i></span>
            <span>Day 2</span>
          </a>
        </li>
        <li>
          <a>
            <span class="icon is-small"><i class="fa fa-cubes"></i></span>
            <span>Day 3</span>
          </a>
        </li>
      </ul>
    </div>


<!-- BODY OF SCOREBOARD -->

<div class="container is-fluid">
<div class="box">
 <div class='columns'>

  <!-- Main Display -->
  <div class='column is-three-quarters'>

    <%- include card.ejs-%>

  </div>

  <!-- Side Leaderboard -->
  <div class='column is-one-quarter'>
   <%- leaderboard %>
 </div>

</div>
<br>
</div>
</div>

<!-- FOOTER -->
<%- include footer.ejs %>

</body>

</html>